@import-normalize;
html {
  font-family: "Lato", sans-serif;
  font-size: 10px;
  font-weight: 700;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  color: #424551;
}

span {
  display: block;
}

select {
  box-sizing: border-box;
}

option {
  font-size: 1.4rem;
  line-height: 21px;
}

.button {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 52px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.header__btn {
  width: 206px;
  height: 52px;
}

.subscribe__btn {
  width: 154px;
  height: 52px;
}

.wrapper {
  width: 1230px;
  margin: auto;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  padding: 20px 0 80px 0;
}

.logo {
  display: block;
  width: 130px;
  height: 22px;
  background: url("../../assets/logo.svg");
  background-size: 130px 22px;
}

.header__navigation {
  margin-right: auto;
  padding-left: 60px;
}

.header__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 0;
}

.navigation__link {
  list-style: none;
  padding: 0 40px 0 0;
}

.nav-link {
  font-weight: 700;
}

.login {
  display: flex;
  align-items: center;
  padding-left: 36px;
}

.login-img {
  width: 20px;
  height: 20px;
  padding-right: 8px;
}

.open {
  color: #FF3F3A;
}

.slash {
  padding: 1px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.toolbar__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-wrapper:before {
  content: "";
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  height: 100%;
  background: url("/background.svg");
  background-size: 100%;
  z-index: -1;
}

.title-event-list {
  margin: 0;
  letter-spacing: 1px;
  margin-top: 4px;
  color: #1E212C;
}

.title-event-list-2 {
  font-weight: 900;
  font-size: 4.6rem;
  margin-top: 16px;
  letter-spacing: -0.3px;
  margin-bottom: 62px;
  color: #1E212C;
}

.check-box {
  border: 1px solid #D7DADD;
  border-radius: 4px;
  padding: 11px 0 12px 16px;
  height: 44px;
  background: inherit;
}

.light-gray {
  color: #787A80;
  font-size: 1.4rem;
}

.select-category {
  width: 160px;
}

.select-sort {
  width: 160px;
}

.select-show {
  width: 72px;
}

input {
  box-sizing: border-box;
  width: 282px;
}

.search-input {
  position: relative;
}

.rectangle {
  display: flex;
  height: 126px;
  width: 1230px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #E5E8ED;
  margin-bottom: 20px;
  border-radius: 4px;
}

.date {
  display: flex;
  margin: 32px 40px;
}

.duration {
  font-size: 1.6rem;
  color: #787A80;
  font-weight: 400;
  margin: 0;
}

.dd {
  color: #FF3F3A;
  font-size: 4.8rem;
  letter-spacing: 1px;
  font-weight: 900;
}

.month {
  font-size: 2rem;
  line-height: 30px;
  font-weight: 700;
  margin-left: 20px;
  color: #1E212C;
}

.event-title__container {
  margin-right: auto;
  margin-left: 36px;
}

.event-title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.event-type {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 9px 0 0 0;
  color: #787A80;
}

.pages {
  margin: 20px 0;
}
.pages .page, .pages .current-page {
  border: 1px solid #FF3F3A;
  border-radius: 100%;
  padding: 5px 10px;
  margin: 0 10px;
  cursor: pointer;
}
.pages .current-page {
  font-weight: 700;
}

.grid {
  padding-right: 10px;
}

.search-loupe {
  box-sizing: border-box;
  background: url("search.png");
  width: 16px;
  height: 16px;
  position: absolute;
  top: 320px;
  left: 1444px;
}

.event-list {
  margin-top: 60px;
}

.event-button {
  border-radius: 4px;
  border: 1px solid #FF3F3A;
  color: #FF3F3A;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  background: inherit;
  width: 136px;
  height: 44px;
  margin: 32px 40px 50px 0;
}
.event-button:hover {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  color: #ffffff;
}

.shadow:hover {
  box-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.active {
  background: #F75E05;
}

.rectangle-grid {
  width: 368px;
  height: 323px;
  display: flex;
  border: 1px solid #E5E8ED;
  border-radius: 4px;
  justify-content: center;
  flex-direction: column;
  padding-left: 20px;
  margin-bottom: 20px;
}

.date-grid {
  margin-top: 27px;
}

.dd-grid {
  box-sizing: border-box;
  font-weight: 700;
  font-size: 2.8rem;
  color: #FF3F3A;
  margin-bottom: 14px;
}

.event-title__container-grid {
  margin-top: 25px;
}

.event-title-grid {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}

.event-button-grid {
  border-radius: 4px;
  border: 1px solid #FF3F3A;
  color: #FF3F3A;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  background: inherit;
  width: 342px;
  height: 44px;
  margin: auto 0 26px 0;
}
.event-button-grid:hover {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  color: #ffffff;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.active-list {
  fill: #FF3F3A;
}

.active-grid {
  fill: #FF3F3A;
}

.subscribe__wrapper {
  height: 564px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("/Subscribe.svg");
}

.subscribe__prelude-title {
  font-size: 1.6rem;
  line-height: 24px;
  letter-spacing: 1px;
  color: #1E212C;
  margin: 120px 0 8px 0;
}

.subscribe__title {
  text-align: center;
  font-weight: 900;
  font-size: 4.6rem;
  line-height: 130%;
  color: #1E212C;
  width: 810px;
  margin: 0 0 60px 0;
}

.subscribe__input {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  height: 52px;
  width: 422px;
  background: white;
  margin-right: 24px;
}

.subscribe__form {
  display: flex;
}

.footer__wrapper {
  display: flex;
  height: 338px;
  align-items: center;
  justify-content: space-between;
}

.footer_left-block {
  margin-top: 20px;
}

.footer__social {
  display: flex;
  width: 244px;
  height: 24px;
  justify-content: space-between;
}

.footer__list {
  padding-left: 0;
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 197px;
}
.footer__list > li {
  list-style: none;
  font-size: 1.6rem;
  color: #ffffff;
}
.footer__list > li > a {
  font-weight: 400;
  color: #A4A5AAFF;
}
.footer__list > li:first-child {
  letter-spacing: 1px;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;
}

.footer__contactus {
  height: 96px;
  margin-bottom: 99px;
}

.footer__title {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 18px;
  width: 279px;
  height: 90px;
  color: #ffffff;
  opacity: 0.6;
  margin: 24px 0 38px 0;
}

.footer__subscribe {
  width: 286px;
  margin-top: 38px;
  margin-bottom: 80px;
}

.footer__subscribe-title {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
  margin-bottom: 27px;
}

.footer__subscribe-p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  color: #ffffff;
}

.footer__subscribe-input {
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 9px 0 9px 12px;
  color: #afb0b4;
}

.footer__subscribe-line {
  position: relative;
  top: -27px;
  left: 259px;
}

.footer__copyright {
  background: #292c37;
  height: 58px;
  display: flex;
}

.copyright__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 18px;
}
.copyright > p {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
